@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0 auto;
  padding: 1rem;
}

.modalCustom {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  outline: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.35);
}

.overlayCustom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000;
}

@media screen and (max-width: 991px) {
  .modalCustom {
    width: 90% !important;
  }
}
