.modalCustom {
  max-width: 40rem;
  width: 100%;
}

.modalClient {
  width: 100%;

  &__header {
    padding: 1rem;
    border-bottom: 1px solid #e1e1e1;
  }

  &__close {
    top: 0;
    right: 1rem;
    border: none;
    background-color: transparent;
    font-size: 2rem;
  }

  &__content {
    padding: 1rem;
  }

  &__submit {
    background-color: #f72b4d;
    border: none;

    &:hover {
      background-color: #F72B4D;
    }
  }
}
